<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
  <h1>관리자 페이지</h1>
  <div>
      <h3>학과 관리</h3>
      <button onclick="location.href='/admin/major/new'">학과 추가</button>
      <button onclick="location.href='/admin/major/list'">전체 학과 리스트</button>
  </div>

  <div>
      <h3>회원 관리</h3>
      <button onclick="location.href='/admin/member/list'">전체 회원 리스트</button>
  </div>

  <div>
      <button onclick="location.href='/'">메인화면으로 돌아가기</button>
  </div>


</body>
</html>