<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
    <h1>My Page</h1>
    <div th:if="${#authentication}">
        <h3>아이디: <span th:text="${#authentication.principal.username}"></span></h3>
        <h3>이름: <span th:text="${#authentication.principal.name}"></span></h3>
        <h3>성별: <span th:text="${#authentication.principal.gender.value}"></span></h3>
        <h3>학번: <span th:text="${#authentication.principal.studentNo}"></span></h3>
        <h3>학과: <span th:text="${#authentication.principal.major.name}"></span></h3>
        <h3>이메일: <span th:text="${#authentication.principal.email}"></span></h3>
        <h3>생년월일: <span th:text="${#authentication.principal.birth}"></span></h3>
        <h3>주소: <span th:text="${#authentication.principal.address}"></span></h3>
    </div>
    <button onclick="location.href='/'">돌아가기</button>
    <button onclick="location.href='/member/edit'">정보 수정</button>

</body>
</html>