<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <form role="form" action="/client/new" th:object="${clientDTO}" method="post">

      <div class="form-group">
        <label th:for="id">아이디</label>
        <input type="text" th:field="*{id}" placeholder="id를 입력하세요">
      </div>

      <div class="form-group">
        <label th:for="pwd">비밀번호</label>
        <input type="text" th:field="*{pwd}" placeholder="비밀번호을 입력하세요">
      </div>

      <div class="form-group">
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
      </div>

      <div class="form-group">
        <label th:for="studentNo">학번</label>
        <input type="text" th:field="*{studentNo}" placeholder="학번을 입력하세요">
      </div>

      <div class="form-group">
        <label th:for="major">학과</label>
        <select name="major" id="major"></select>
      </div>

      <div class="form-group">
        <label th:for="birth">생일</label>
        <input type="date" th:field="*{birth}">
      </div>

      <div class="form-group">
        <label th:for="address">주소</label>
        <input type="text" th:field="*{address}" placeholder="주소를 입력하세요">
      </div>
      <br>
      <button type="submit">Submit</button>
    </form>

  </div>
  <script>
    fetch('/client/major')
            .then(res => res.json())
            .then(data => {
              const $majorNo = document.getElementById('majorNo');
              for (let index in data) {
                const major = data[index];
                const $option = document.createElement('option');
                $option.value = major.majorNo;
                $option.textContent = major.name;
                $majorNo.appendChild($option);
              }
            });
  </script>
</body>
</html>