<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>전체 회원 리스트</title>
</head>
<body>
    <h1>전체 회원 조회</h1>
    <label>검색하기 : </label>
    <form action="/client/list" method="post">
        <input type="text" name="clientName" placeholder="검색할 이름을 입력해주세요!">
        <button type="submit">클릭!</button>
    </form>

    <table>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>학과</th>
            <th>학번</th>
            <th>생년월일</th>
            <th>주소</th>
            <th>이메일</th>
            <th>수정하기</th>
        </tr>
        <tr th:each="client:${clientList}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.major.name}"></td>
            <td th:text="${client.studentNo}"></td>
            <td th:text="${client.birth}"></td>
            <td th:text="${client.address}"></td>
            <td th:text="${client.email}"></td>
            <td>
                <a th:href="@{'/client/edit/' + ${client.id}}">수정하기</a>
            </td>
        </tr>
    </table>
    <div id="paging" >
        <button
                th:onclick="'location.href=\'/client/list?page=' + @{${paging.startPage}} + '\''"
                th:disabled="${ clientList.first }">
            <<
        </button>
        <button
                th:onclick="'location.href=\'/client/list?page=' + @{${paging.currentPage - 1}} + '\''"
                th:disabled="${ clientList.first }">
            <
        </button>
        <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
            <button th:onclick="'location.href=\'/client/list?page=' + @{${page}} + '\''"
                    th:text="${ page }"
                    th:disabled="${ paging.currentPage eq page }">
            </button>
        </th:block>
        <button
                th:onclick="'location.href=\'/client/list?page=' + @{${paging.currentPage + 1}} + '\''"
                th:disabled="${ clientList.last }">
            >
        </button>
        <button
                th:onclick="'location.href=\'/client/list?page=' + @{${paging.endPage}} + '\''"
                th:disabled="${ clientList.last }">
            >>
        </button>
    </div>
    <button onclick="location.href='/'">메인화면으로 돌아가기</button>

</body>
</html>