<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script type="text/javascript" th:src="@{/js/clientJoin.js}"></script>
    <title>login</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <form th:action="@{/client/login}" method="post">
        <div>
            <span>아이디 : </span>
            <input type="text" name="id">
        </div>
        <div>
            <span>비밀번호 : </span>
            <input type="password" name="password">
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>

    <div class="btns">
        <button onclick="location.href='/client/join'">회원가입</button>
        <button onclick="location.href='/'">돌아가기</button>
    </div>
</body>
</html>