<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>상담자 페이지</h1>
  <div>
    <h3>상담자 정보 관리</h3>
    <button onclick="location.href='/counselor/details'">상담사 정보 작성</button>
  </div>
  <div>
    <h3>상담 관리</h3>
    <p>현재 상담 신청 건수 : <span th:text="${requestCount}"/>번</p>
    <div>
      <button onclick="location.href='/counselor/client'">상담 신청서 확인하기</button>
      <button onclick="location.href='/counselor/request'">상담 진행 리스트 보기</button>
    </div>
  </div>

  <div>
    <button onclick="location.href='/'">메인화면으로 돌아가기</button>
  </div>

</body>
</html>