<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
  <h1>로그인</h1>
  <form th:action="@{/login}" method="post">
    <div>
      <span>아이디 : </span>
      <input type="text" name="id">
    </div>
    <div>
      <span>비밀번호 : </span>
      <input type="password" name="password">
    </div>
    <div>
      <button type="submit">로그인</button>
    </div>
  </form>

  <div class="btns">
    <button onclick="location.href='/signin'">회원가입</button>
    <button onclick="location.href='/'">돌아가기</button>
  </div>
</body>
</html>