<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Mind Bridge</title>
</head>
<body>
    <h1>Mind Bridge</h1>

    <!-- 인증된 사용자를 위한 버튼들 -->
    <div>
        <th:block sec:authorize="isAuthenticated()">
            <button onclick="location.href='/member/mypage'">마이페이지</button>
            <button onclick="location.href='/member/logout'">로그아웃</button>
        </th:block>

    </div>

    <!-- 인증되지 않은 사용자를 위한 버튼들 -->
    <div>
        <th:block sec:authorize="isAnonymous()">
            <button onclick="location.href='/login'">로그인</button>
            <button onclick="location.href='/signin'">회원가입</button>
        </th:block>
    </div>

    <!-- 관리자를 위한 버튼 -->
    <div>
        <th:block sec:authorize="hasRole('ADMIN')">
            <button onclick="location.href='/admin/home'">관리자 메뉴</button>
        </th:block>
    </div>

</body>
</html>